*{
    box-sizing: border-box;
}
:root{
    --hoverTextColor:rgb(244, 51, 151);
    --textColor : rgb(87, 85, 85);
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color:var(--textColor);
}
img{
    width: 100%;
}
.header{
    height: 72px;
    outline: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}
.headerLeft,
.headerRight{
    display: flex;
    align-items: center;
}
.logoContainer{
    width: 155px;
}


.searchInputContainer{
    width: 400px;
    height: 45px;
    outline:1px solid rgb(126, 126, 126);
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    position: relative;
}
.searchIcon{
    width: 20px;
    margin: 6px;
}
form{
    width: 100%;
}
.inputSearch{
    width: 100%;
    border:none;
    outline: none;
    font-size: 16px;
}
#closeSearch{
    display: none;
}


.searchRecentModal{
    position: absolute;
    bottom: 0;
    left:0;
    top:45px;
    background-color: white;
    height: 400px;
    width: 100%;
    display: none;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    z-index: 3;
}
.searchInputContainer:focus-within .searchRecentModal{
    display: block;
    background-color: white;
}
.recentIcon{
    width: 20px;
    margin-right: 10px;
}
.recentItem{
    display: flex;
    align-items: center;
    background-color: white;
}


/***right***/
.mobileIcon{
    width: 15px;
    margin: 5px;
}
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    position: relative;
}
.downloadContainer:hover{
    color:var(--hoverTextColor);
    cursor: pointer;
}
.downloadBtn{
    display: block;
    width: 180px;
    margin-top: 5px;
}
.downloadHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top:40px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
    width: 200px;
    /* background-color: red; */
    display: none;
    height: 200px;
    padding: 10px;
    margin-left: -30px;
    color:var(--textColor);
    background: white;
    z-index: 2;
}
.downloadContainer:hover .downloadHoverBtnContainer,
.downloadContainer:focus .downloadHoverBtnContainer{
    display: block;
}

.downloadContainer p{
    margin:0;
    padding: 0;
    font-size: 17px;
}

.profileAndCart{
    display: flex;
    align-items: center;
    
}
.profileAndCart:hover,
.profileAndCart:focus{
    color: var(--hoverTextColor);
}

.profileIcon,
.CartIcon{
    width: 20px;
}
.profileAndCart p{
    margin:0;
    padding: 0;
}
.profileContainer,
.CartContainer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.becomeSupplierContainer{
    padding: 0px 30px;
    border-left: 1.5px solid #ccc;
    border-Right: 1.5px solid #ccc;
    font-size: 17px;
}

/**navigation css ***/
nav{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 54px;
    
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    margin: 0; 
    position: relative;
}
nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    /* background-color: red; */
    border-bottom: 2px solid transparent;
    cursor: pointer; 
    
}
nav ul li:hover{
    color:var(--hoverTextColor);
    border-bottom: 4px solid var(--hoverTextColor);
}


/**module box submenu***/
.subMenu{
    position: absolute;
    /* height: 400px; */
    top:51px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    margin: 0px 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 20px;
}

nav ul li:hover .subMenu{
    display: block;
}

.subMenu p{
    color:var(--textColor)

}
.submenuList{
    display: flex;

}
.column{
    margin-right: 40px;
}



.lowestpriceContainer{
    display: flex;
    margin:50px auto;
    max-width: 1100px;
    /* background-color: red; */
}
.lowestpriceContainer h1{
    font-size: 40px;
    margin: 0;
    color:rgb(36, 31, 31);
}
.lowestPrice_text{
    width: 50%;
    padding: 25px 0 0 25px;
}
.lowestPrice_image{
    width: 50%;
}
.lowestPrice_icon{
    width: 30px;
    border-radius: 40px;
    background-color: rgb(238, 133, 187);   
}
.lowestPriceWhay{
    display: flex;
    height: 50px;
    margin: 20px 0;
}
.lowestPriceItem{
    padding:  0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc;
}
.lowestPriceItem p{
    padding-left: 10px;
}
.downloadApp_contianer{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border:none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    color:white;
}
.downloadApp_contianer p{
    padding: 0px 20px;
}



/*topCategoriesFrom*/
.topCategoriesFrom{
    width: 1100px;
    margin: auto;
}
.topCategoriesHeading{
    display: flex;
    align-items: center;
    
}
.horizontalLine{
    padding: 1px;
    background-color: var(--hoverTextColor);
    width:50%;
}
.topCategoriesHeading h1{   
    width: max-content;
    width: 1050px;
    color:rgb(8, 8, 8);
    font-size: 38px;
    margin: 0;
}
.topCategoreisImage{
    width: 100%;
    height: 500px;
    background-image: url("meesho_background.webp");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.topCategoreisImage img{
    max-width: 300px;
    margin: 10px;
    bottom: 0;
}
.topCategoreisImage img:first-child{
    max-width: 400px;
}

.essentialContaienr{
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("meesho_background.webp");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.essentialContaienr img{
    max-width: 180px;
}


.essential_item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.essen-btn{
    margin-left: 100px;
    margin-top: 20px    ;
}

.becomesellerBanner_Container{
    margin: 50px 0px;
    position: relative;

}
.becomesellerBanner_Container img{
    width: 100%;
}
.becomeSeller_Content{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    padding: 40px 0px;
}
.becomeSeller_content_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.becomerSeller_appDownload{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.becomerSeller_appDownload img{
    width: 100%;
    height: 100%;
    background-color: black;
}
.becomeSeller_content_content h2{
    color:rgb(85, 133, 248) ;
    font-size: 30px;
    margin-bottom: 0;
}
.becomeSeller_content_content h1{
    color: var(--hoverTextColor);
    font-size: 50px;
    width: 60%;
    text-align: right;
}
.becomerSeller_appDownload_container{
    display: flex;
}


.meeesho_benifit_image{
    width: 20px;
    margin-right: 10px;
}
.meesho_supper_benifit{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    border-right: 2px solid white;
    height: 25px;
}
.meesho_supper_benifit:first-child{
    padding: 0;
    padding-right: 40px;
}
.meesho-suppliear_benifit_container{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.meesho_supper_container{
    position: relative;
}
.meesho_supper_container_content{
    position: absolute;
    top: 0;
    padding: 20px 30px;
    color:white;
}
.signup_btn_now{
    background-color: white;
    color:var(--hoverTextColor);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
}

.Product_container_You{
    min-height: 500px;
    padding: 10px;
}
.product_container_you_content{
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100%;
    gap:30px;
}
.product_category_you_aside{
    height: 100%;
}
.product_category_display{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
}
.search_category_input{
    display: flex;
    padding: 15px;
    font-size: 18px;
    border:2px solid #ccc;
    border-radius: 5px;
}
.search_category_input input{
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    padding: 0px 10px;
}
.search_category_input input::placeholder{
    font-size: 15px;
}
.display_Category_list{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.display_Category_list label{
    margin: 3px 0px;
    text-transform: capitalize;
}


.productCard{
    max-width: 250px;
    padding: 10px;
    box-shadow: -1px -1px 5px rgba(0,0,0,0.1),
    1px 1px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
}
.product_image{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product_image img{
    width: fit-content;
    height: 170px;
}
.product_price{
    font-weight: 550;
    font-size: 22px;
    color:black;
}
.product_name{
    text-transform: capitalize;
}

/* Mobile Menu Toggle */
.mobile-menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    z-index: 1001;
}

.mobile-menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: var(--textColor);
    margin: 3px 0;
    transition: 0.3s;
}

.mobile-menu-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile-menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
    .topCategoriesFrom {
        width: 95%;
        margin: auto;
    }
    
    .lowestpriceContainer {
        max-width: 95%;
    }
    
    .product_container_you_content {
        grid-template-columns: 250px 1fr;
        gap: 20px;
    }
    
    .product_category_display {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 0px 15px;
    }
    
    .searchInputContainer {
        width: 300px;
        margin-left: 15px;
    }
    
    .lowestpriceContainer h1 {
        font-size: 35px;
    }
    
    .topCategoriesHeading h1 {
        font-size: 32px;
    }
    
    .becomeSeller_content_content h1 {
        font-size: 40px;
    }
    
    .product_container_you_content {
        grid-template-columns: 220px 1fr;
        gap: 15px;
    }
    
    .product_category_display {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
    
    .headerLeft {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .searchInputContainer {
        width: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    
    .mobile-menu-toggle {
        display: flex;
    }
    
    .headerRight {
        display: none;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        transition: left 0.3s ease;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        border-bottom: none;
    }
    
    nav.active {
        left: 0;
    }
    
    nav ul {
        flex-direction: column;
        padding: 20px;
        height: auto;
        justify-content: flex-start;
    }
    
    nav ul li {
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        border-right: none;
        justify-content: flex-start;
    }
    
    nav ul li:hover {
        border-bottom: 1px solid #eee;
        background-color: #f5f5f5;
    }
    
    .lowestpriceContainer {
        flex-direction: column;
        margin: 30px auto;
        padding: 0 15px;
    }
    
    .lowestPrice_text,
    .lowestPrice_image {
        width: 100%;
    }
    
    .lowestPrice_text {
        padding: 20px 0;
        text-align: center;
    }
    
    .lowestpriceContainer h1 {
        font-size: 28px;
    }
    
    .lowestPriceWhay {
        flex-direction: column;
        height: auto;
        margin: 15px 0;
    }
    
    .lowestPriceItem {
        padding: 10px 0;
        border-right: none;
        border-bottom: 1px solid #ccc;
        justify-content: center;
    }
    
    .lowestPriceItem:last-child {
        border-bottom: none;
    }
    
    .topCategoriesFrom {
        width: 100%;
        padding: 0 15px;
    }
    
    .topCategoriesHeading {
        flex-direction: column;
        text-align: center;
    }
    
    .horizontalLine {
        width: 100%;
        margin: 10px 0;
    }
    
    .topCategoriesHeading h1 {
        font-size: 26px;
        width: 100%;
    }
    
    .topCategoreisImage {
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .topCategoreisImage img {
        max-width: 200px;
        margin: 5px;
    }
    
    .topCategoreisImage img:first-child {
        max-width: 250px;
    }
    
    .essentialContaienr {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    
    .essential_item {
        width: 100%;
        margin: 10px 0;
    }
    
    .essen-btn {
        margin: 0 0 20px 0;
    }
    
    .becomeSeller_Content {
        position: relative;
        padding: 20px;
        text-align: center;
    }
    
    .becomeSeller_content_content {
        align-items: center;
    }
    
    .becomeSeller_content_content h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    
    .becomeSeller_content_content h2 {
        font-size: 24px;
    }
    
    .meesho-suppliear_benifit_container {
        flex-direction: column;
        align-items: center;
    }
    
    .meesho_supper_benifit {
        padding: 10px 0;
        border-right: none;
        border-bottom: 1px solid white;
        width: 100%;
        justify-content: center;
    }
    
    .meesho_supper_benifit:last-child {
        border-bottom: none;
    }
    
    .product_container_you_content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .product_category_you_aside {
        order: 2;
    }
    
    .product_category_display {
        order: 1;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    
    .Product_container_You {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 10px;
    }
    
    .logoContainer {
        width: 120px;
    }
    
    .searchInputContainer {
        height: 40px;
    }
    
    .inputSearch {
        font-size: 14px;
    }
    
    .lowestpriceContainer h1 {
        font-size: 24px;
    }
    
    .topCategoriesHeading h1 {
        font-size: 22px;
    }
    
    .becomeSeller_content_content h1 {
        font-size: 26px;
    }
    
    .becomeSeller_content_content h2 {
        font-size: 20px;
    }
    
    .product_category_display {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    .productCard {
        max-width: 100%;
    }
    
    .downloadApp_contianer {
        font-size: 16px;
        height: 45px;
    }
    
    .downloadApp_contianer p {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 480px) {
    .lowestpriceContainer h1 {
        font-size: 20px;
    }
    
    .topCategoriesHeading h1 {
        font-size: 20px;
    }
    
    .becomeSeller_content_content h1 {
        font-size: 22px;
    }
    
    .becomeSeller_content_content h2 {
        font-size: 18px;
    }
    
    .becomerSeller_appDownload {
        width: 120px;
        height: 40px;
    }
    
    .signup_btn_now {
        font-size: 16px;
        padding: 12px 16px;
    }
    
    .search_category_input {
        padding: 12px;
        font-size: 16px;
    }
    
    .search_category_input input {
        font-size: 16px;
    }
    
    .search_category_input input::placeholder {
        font-size: 14px;
    }
}

/* Additional Mobile Enhancements */
@media screen and (max-width: 768px) {
    /* Smooth scrolling for mobile */
    html {
        scroll-behavior: smooth;
    }
    
    /* Better touch targets */
    .mobile-menu-toggle {
        padding: 10px;
        min-width: 44px;
        min-height: 44px;
    }
    
    /* Improve button accessibility */
    .downloadApp_contianer,
    .signup_btn_now {
        min-height: 44px;
        min-width: 44px;
    }
    
    /* Better form inputs */
    .inputSearch,
    .search_category_input input {
        font-size: 16px; /* Prevents zoom on iOS */
    }
    
    /* Improve image loading */
    img {
        max-width: 100%;
        height: auto;
    }
    
    /* Better spacing for mobile */
    .lowestpriceContainer,
    .topCategoriesFrom,
    .Product_container_You {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Landscape mobile optimization */
@media screen and (max-width: 768px) and (orientation: landscape) {
    .lowestpriceContainer {
        flex-direction: row;
    }
    
    .lowestPrice_text,
    .lowestPrice_image {
        width: 50%;
    }
    
    .lowestPriceWhay {
        flex-direction: row;
        height: 50px;
    }
    
    .lowestPriceItem {
        border-right: 2px solid #ccc;
        border-bottom: none;
    }
}

/* High DPI display optimization */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .logoContainer img,
    .searchIcon img,
    .profileIcon img,
    .CartIcon img {
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
    }
}